{% extends "base.html" %}
{% block content %}

<h2>Edit Event</h2>

<form method="POST" class="mt-4">

    <label>Club</label>
    <select name="club_id" class="form-select">
        {% for c in clubs %}
        <option value="{{ c[0] }}" {% if c[0] == event[1] %}selected{% endif %}>
            {{ c[1] }}
        </option>
        {% endfor %}
    </select>

    <label class="mt-3">Event Name</label>
    <input type="text" name="name" class="form-control" value="{{ event[2] }}" required>

    <label class="mt-3">Event Date</label>
    <input type="text" name="date" class="form-control" value="{{ event[3] }}" required>

    <label class="mt-3">Venue</label>
    <input type="text" name="venue" class="form-control" value="{{ event[4] }}" required>

    <label class="mt-3">Status</label>
    <input type="text" name="status" class="form-control" value="{{ event[5] }}" required>

    <button class="btn btn-primary mt-4">Save Changes</button>

</form>

{% endblock %}
